
canvas {
    /*
    background-color: red;
    width: 100%;
        position: relative;/* If you want text inside of it */
    /*padding-top: 100%;*/ /* 1:1 Aspect Ratio */
    /*padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    */
}
